.fondo{
    
    background-image: url("../assets/fondo7.png");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
      
    /*background-color: #BC9858;*/
}

.vidrio{
    background: rgba(255,255,255, 0.4);
    border-radius: 20px;
    width: fit-content;
    padding: 10px 0 10px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}


.contador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador div{
    flex-basis: 100px;
}
.contador div p{
    font-size: 30px;
    margin-bottom: -10px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.vaneylore{
    margin-bottom: 70px;
}

section.cuenta-regresiva{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #BC9858;
    height: fit-content;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  }
section.cuenta-regresiva p{
color: white;

}
section.cuenta-regresiva span{
color: white;
}
section.cuenta-regresiva h3{
color: white;
}



section.vestimenta{
    text-align: center;
    padding: 10px 0 10px;
    background-color: #BC9858;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  }
  
section.vestimenta h3 {
    text-align: center;
    color: white;
}
section.vestimenta p {
    text-align: center;
    margin-bottom: 5px;
    color: white;
}



section.informacion{
padding: 40px 0 40px;
font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

section.informacion .columna{
text-align: center;
padding: 15px;
}

section.informacion .columna h4{
margin-top: 15px;
margin-bottom: 20px;
color: #BC9858;
}

section.informacion .columna p{
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #59513D;
}


section.informacion .btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #BC9858;
    text-transform: uppercase;
}

section.informacion .btn:hover{
    background-color: #ffffff;
    color: #BC9858;
    border-color: #BC9858;
}
 
section.informacion .rounded{
    max-height: 500px;
}



section.regalos{
    padding: 70px 0 40px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

section.regalos .columna{
    text-align: center;
    padding: 15px;
}

section.regalos .columna h4{
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #BC9858;
}

section.regalos .columna p{
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #59513D;
}


section.regalos .btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #BC9858;
    text-transform: uppercase;
}

section.regalos .btn:hover{
    background-color: #ffffff;
    color: #BC9858;
    border-color: #BC9858;
}
    
section.regalos .rounded{
    max-height: 100px;
}




section.asistencia{
    padding: 30px 0 40px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  }
  
section.asistencia h2 {
    text-align: center;
    color: #BC9858;
}
section.asistencia p {
    text-align: center;
    margin-bottom: 5px;
    color: #BC9858;
}

section.asistencia .btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #BC9858;
    text-transform: uppercase;
}

section.asistencia .btn:hover{
    background-color: #ffffff;
    color: #BC9858;
    border-color: #BC9858;
}
    
section.asistencia .rounded{
    max-height: 100px;
}




section.instagram{
    text-align: center;
    padding: 10px 0 10px;
    background-color: #BC9858;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  }
  
section.instagram h3 {
    text-align: center;
    color: white;
}
section.instagram p {
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

section.instagram .rounded{
    max-height: 100px;
}
