.fondo{
    
    background-image: url("../assets/fondo2.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
      
    /*background-color: #F9FFD6;*/
}

.vidrio{
    background: rgba(238,212,143, 0.2);
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
}


.contador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador div{
    flex-basis: 100px;
}
.contador div p{
    font-size: 30px;
    margin-bottom: -10px;
}

.vaneylore{
    margin-bottom: 70px;
}

section.cuenta-regresiva{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EED48F;
    height: fit-content;
    border-radius: 10px;
  }
section.cuenta-regresiva p{
color: white;
}
section.cuenta-regresiva span{
color: white;
}
section.cuenta-regresiva h3{
color: white;
}



section.vestimenta{
    text-align: center;
    padding: 10px 0 10px;
    border-radius: 10px;
    background-color: #EED48F;
  }
  
section.vestimenta h3 {
    text-align: center;
    color: white;
}
section.vestimenta p {
    text-align: center;
    margin-bottom: 5px;
    color: white;
}



section.informacion{
padding: 70px 0 40px;
}

section.informacion .columna{
text-align: center;
padding: 15px;
}

section.informacion .columna h4{
margin-top: 15px;
margin-bottom: 20px;
text-transform: uppercase;
color: #DEBD64;
}

section.informacion .columna p{
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #59513D;
}


section.informacion .btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #EED48F;
    text-transform: uppercase;
}

section.informacion .btn:hover{
    background-color: #ffffff;
    color: #EED48F;
    border-color: #EED48F;
}
 
section.informacion .rounded{
    max-height: 500px;
}



section.regalos{
    padding: 70px 0 40px;
}

section.regalos .columna{
    text-align: center;
    padding: 15px;
}

section.regalos .columna h4{
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #DEBD64;
}

section.regalos .columna p{
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #59513D;
}


section.regalos .btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #EED48F;
    text-transform: uppercase;
}

section.regalos .btn:hover{
    background-color: #ffffff;
    color: #EED48F;
    border-color: #EED48F;
}
    
section.regalos .rounded{
    max-height: 100px;
}




section.asistencia{
    text-align: center;
    padding: 25px 0 25px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #EED48F;
  }
  
section.asistencia h3 {
    text-align: center;
    color: white;
}
section.asistencia p {
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

section.asistencia .btn{
    text-decoration: none;
    color: #EED48F;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #ffffff;
    text-transform: uppercase;
}

section.asistencia .btn:hover{
    background-color: #EED48F;
    color: #ffffff;
    border-color: #ffffff;
}
    
section.asistencia .rounded{
    max-height: 100px;
}
